/* ОБНУЛЕНИЕ */
*{
	padding: 0;
	margin: 0;
	border: 0;
	}	
*,*::before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/* СТИЛИ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
} 

.wrapper{
	max-width: 100%;
	margin: 0 auto;
}

/* header */
.header{
	height: 100%;
	width: 100%;
} 

.container{
	max-width: 1250px;
   margin: 0 auto;
} 

/* верхняя часть шапки */
.header__top{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #e8e8e8;;
} 

.header__title{
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
} 

.header__logo{
	max-width: 232px;
	height: 20px;
} 

.header__logo img{
	max-width: 100%;
}

.header__maps{
	display: flex;
	align-items: center;
	padding-left: 40px;
}
.header__icon{
	width: 11px;
	height: 15px;
	color: #d1d1d1;
} 

.header__office{
	font-size: 14px;
	line-height: 58px;
	font-weight: 400;
	color: #333333;
	padding-left: 5px;
} 

.header__elem{
	font-weight: 600;
	color: #ff8400;
} 

.header__contact{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
} 

.header__phone{
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	padding-right: 15px;
} 

.header__number{
	font-size: 24px;
	line-height: 1.2;
	font-weight: 600;
	color: #333333;
} 

.header__free{
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	color: #7c7c7c;
	align-self: flex-end;
} 

.header__button{
	width: 152px;
	height: 40px;
	border: 1px solid #d6d6d6;
	border-radius: 3px;
	color: #ff8400;
	font-weight: 600;
	font-size: 14px;
	background-color: white;
} 

/* нижняя часть шапки */
.header__bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
} 

.header__menu{
	flex: 0 1 66%;
}

.header__menu ul{
	display: flex;
	width: 100%;
	justify-content: space-between;
} 

.menu__link{
	font-size: 16px;
	line-height: 58px;
	font-weight: 700;
	color: #333333;
} 

.header__lk{
	display: flex;
	flex: 34%;
	justify-content: space-between;
	align-items: center;
} 

.header__button-add{
	font-size: 16px;
	font-weight: 700;
	color: #bb4d34;
	background-color: white;
	padding-left: 89px;
} 

.header__comparison-lk{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__like{
	padding-right: 20px;
}

.header__like a{
	position: relative;
}

.header__like span{
	position: absolute;
	right: -9px;
	top: -9px;
	border-radius: 50%;
	font-size: 11px;
	text-align: center;
	line-height: 18px;
	color: #ffffff;
	background-color: #ff8400;
	width: 18px;
	height: 18px;
	} 

.comparison{
	padding-right: 30px;
} 

.header__cabinet{
	max-width: 100%;
}

/* content */
.main-top{
	background-image: url(../img/fone.jpg);
	background-size: auto;
	padding: 60px 0px;
	width: 100%;
} 

.main-top__content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-top__title{
	font-family: "OpenSans Bold";
	font-size: 52px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 28px;
} 

.main-top__text{
	font-family: OpenSans;
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
	margin-bottom: 41px;
	line-height: 1.4;
} 

.main-top__free{
	font-family: OpenSans;
	font-size: 24px;
	line-height: 32px;
	font-weight: 400;
	color: #ffffff;
	margin-bottom: 45px;
} 

.main-top__free span{
	font-weight: 700;
	color: #ff8400;
}

.main-top__button a{
	width: 100%;
	border-radius: 3px;
	color: #ffffff;
	background-color: #ff8400;
	height: 44px;
	text-align: center;
	border: 1px solid #ff8400;
	font-family: OpenSans;
	font-size: 16px;
	line-height: 58px;
	font-weight: 600;
	} 

.main-top__application{
	padding: 14px 30px 13px 30px;
} 

.main-top__right img{
	max-width: 100%;
}

/* Что входит в тест-драйв */
.includes{
	padding-top: 58px;
	padding-bottom: 60px;
} 

.includes__title{
	text-align: left;
	font-family: OpenSans;
	font-size: 32px;
	font-weight: 700;
	color: #333333;
	margin-bottom: 32px;
	} 
/* вернуться, когда буду делать 340 */
.includes__block{
	display: flex;
	margin: 0px -15px;
	} 

.includes__column{
	padding: 0px 15px;
	flex: 0 1 25%;
}

.includes__item{
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	padding: 30px;
	height: 100%;
} 

.includes__img{
	margin-bottom: 20px;
	max-width: 100%;
	max-height:100%;
} 

.includes__subtitle{
	font-family: OpenSans;
	font-size: 17px;
	line-height: 24px;
	font-weight: 700;
	color: #333333;
} 

.includes__paragraph{
	margin-top: 10px;
	line-height: 22px;
	font-size: 14px;
} 

/* За время тестирования */
.timetest{
	padding: 60px 0px;
	background-color: #f6f6f6;
} 

.timetest__title{
	text-align: left;
	margin-bottom:32px;
	font-size: 32px;
	font-weight: 700;
	color: #333333;
} 

.timetest__block{
	display: flex;
	margin: 0px -15px;
}

.timetest__column{
	padding: 0px 15px;
	flex: 0 1 25%;
} 

.timetest__item{
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	background-color: white;
	padding: 30px 32px 29px 30px;
	height: 100%;
	width: 100%;
} 

.timetest__img{
	margin-bottom: 19px;
	max-width: 100%;
	height: 62px;
	position: relative;
}

.timetest__subtitle{
	font-family: OpenSans;
	font-size: 17px;
	line-height: 24px;
	font-weight: 700;
	color: #333333;
} 

.timetest__paragraph{
	margin-top: 10px;
	line-height: 22px;
	font-size: 14px;
} 

.timetest__ellipse{
	position: absolute;
} 

.timetest__figure2{
	position: absolute;
	top: 16px;
	left: 15px;
} 

.timetest__figure31{
	position: absolute;
	top: 15px;
	left: 18px;
} 

.timetest__figure32{
	position: absolute;
	top: 23px;
	left: 21px;
} 

.timetest__figure4{
	position: absolute;
	top: 19px;
	left: 11px;
} 

/* Решаем все вопросы в одном месте */

.solvequestion{
	padding: 60px 0px 16px 0px;
} 

.solvequestion__maintext{
	text-align: left;
	margin-bottom: 36px;	
} 

.solvequestion__title{
	font-family: OpenSans;
	font-size: 32px;
	font-weight: 700;
	color: #333333;
	margin-bottom: 14px;
} 

.solvequestion__titletext{
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
} 

.solvequestion__block{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
} 

.solvequestion__column{
	padding: 0px 15px;
	flex: 0 1 25%;
	margin-bottom: 40px;
} 

.solvequestion__item{
	width: 100%;
	height: 100%;
} 

.solvequestion__img{
	margin-bottom: 17px;
	border-radius: 3px;
	max-width: 100%;
} 

.solvequestion__subtitle{
	font-family: OpenSans;
	font-size: 17px;
	line-height: 24px;
	font-weight: 700;
	color: #333333;
} 

.solvequestion__paragraph{
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
} 

/* Наши офисы */
.office{
	width: 100%;
	height: 100%;
	background-color: #f6f6f6;
	padding-bottom: 100px;
} 

.office__title{
	padding: 58px 0px 28px 0px;
	font-size: 32px;
	line-height: 28px;
	font-weight: 700;
	color: #333333;
} 

.office__body{
	width: 100%;
	height: 100%;
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	background-color: white;
	padding: 27px 30px 30px 30px;
} 

.office__menu{
	margin-bottom: 29px;
	display: flex;
	align-items: center;
	justify-content: space-between;
} 

.office__name{
	font-size: 16px;
	font-weight: 400;
	color: #333333;
}

/* При нажатии на ссылку */
.office__name:active{
	color: #ff8400;
	font-weight: 600;
}

/* По умолчанию для макета, затем убрать */
.office__name:nth-child(5){
	color: #ff8400;
	font-weight: 600;
}

.office__name span{
	color: #7c7c7c;
}

.office__block{
	width: 100%;
   height: 100%;
   border-radius: 3px;
	border: 1px solid #e8e8e8;
	display: flex;
	} 

.office__contact{
	height: 100%;
	background-color: white;
	margin: 33px 38px 112px 29px;
} 

.office__contact-flex{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.office__address{
	font-size: 17px;
	line-height: 24px;
	font-weight: 600;
	color: #333333;
	padding-bottom: 30px;
} 

.office__address span{
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	color: #7c7c7c;
}

.office__schedule{
	font-size: 17px;
	line-height: 24px;
	font-weight: 600;
	color: #333333;
} 

.office__schedule span{
	font-size: 17px;
	line-height: 28px;
	font-weight: 400;
	color: #7c7c7c;
}

.office__fhone-flex{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.office__fhone{
	font-size: 20px;
	line-height: 27px;
	font-weight: 700;
	color: #333333;
	text-align: center;
	margin-left: 40px;
} 

.office__button{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 230px;
	height: 44px;
	background-color: #ff8400;
	border-radius: 3px;
	margin-top: 16px;
	margin-left: 10px;
	padding: 0px 44px;
} 

.office__button a{
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
}

.office__img{
	width: 20px;
	height: 15px;
	color: #ffffff;
}

.office__map{
position: relative;
}

.office__map-img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.office__label1{
	position: absolute;
	max-width: 100%;
	top: 30.88%;
	left: 72.35%;
} 

.office__label2{
	position: absolute;
	max-width: 100%;
	top: 46.4%;
	left: 82.59%;
} 

.office__label3{
	position: absolute;
	max-width: 100%;
	top: 26.47%;
	left: 91.35%;
} 

.office__bottom{
	display: flex;
	justify-content: space-between;
} 

.office__test{
	display: flex;
	align-items: center;
	width: 1176px;
	height: 45px;
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	margin-top: 31px;
	background-color: #ffffff;
} 

.office__bottom-img{
	width: 21px;
	height: 21px;
	margin: 0px 10px 0px 20px;
}

.office__main{
	font-size: 14px;
	line-height: 25px;
	font-weight: 400;
	color: #333333;
	margin-top: 2px;
} 

.office__main span{
	color: #7c7c7c;
}

.office__bottom-button{
	width: 44px;
	height: 43px;
	background-color: #e2e2e2;
	border-radius: 3px;
	margin-top: 31px;
}

/* подвал сайта */
.footer{
	width: 100%;
	height: 100%;
	background-color: #333333;	
} 

.footer__top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #2a2a2a;
} 

.footer__top-left{
	display: flex;
	height: 100%;
	padding: 37px 0px;
} 

.footer__logo{
	max-width: 100%;
	max-height: 20px;
} 

.footer__social{
	margin-left: 50px;
} 

.footer__social-logo{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.footer__social li{
	width: 32px;
	height: 32px;
	background-color: #2a2a2a;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content:center;
	margin-right: 8px; 
}

.footer__top-right{
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
} 

.footer__phone{
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	padding-right: 15px;
} 

.footer__number{
	font-size: 24px;
	line-height: 1.2;
	font-weight: 600;
	color: #ffffff;
	align-self: flex-end;
} 

.footer__free{
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	color: #c6c6c6;
	align-self: flex-end;
} 

.footer__button{
	width: 152px;
	height: 40px;
	border: 1px solid #d6d6d6;
	border-radius: 3px;
	color: #ff8400;
	font-weight: 600;
	font-size: 14px;
	background-color: white;
}  

/* контент подвал сайта */
.footer__content{
	display: flex;
	justify-content: space-between;
	margin: 30px 0px -12px 0px;
} 

.footer__item{
	max-width: 25%;
	height: 100%;
} 

.footer__subtitle{
	font-family: OpenSans;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #ff8400;
	padding-bottom: 15px;
} 

.footer__menu a{
	font-size: 14px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: normal;
	color: #ffffff;
	line-height: 30px;
} 

.footer__menu > ul{
	margin-bottom: 36px;
}

.footer__info{
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	color: #959595;
}

.footer__info p{
	margin-bottom: 27px;
}

/* последняя строка */
.footer__block-mobile{
	display: none;
}

.footer__bottom{
	display: flex;
	justify-content: space-between;
	padding: 19px 0px 21px 0px;
	border-top:  1px solid #2a2a2a;;
} 

.footer__bottom-left{
	font-family: OpenSans;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #c6c6c6;
} 

.footer__bottom-right ul{
	display: flex;
	justify-content: space-between;
} 

.footer__bottom-right a{
	font-family: OpenSans;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ff8400;
	padding-left: 43px;
}

/* адаптив */
@media (max-width: 1250px) {
	
	/* отступы */
.container{
	padding: 0 15px;
}

.header__maps{
	padding-left: calc(20px + (40 - 20) * ((100vw - 340px) / (1250-340)));
}

.header__button-add{
	padding-left: calc(50px + (89 - 50) * ((100vw - 340px) / (1250-340)));
}

.header__like{
	padding-right: calc(11px + (20 - 11) * ((100vw - 340px) / (1250-340)));
}

.comparison{
	padding-right: calc(19px + (30 - 19) * ((100vw - 340px) / (1250-340)));
}

.main-top{
	padding-top: calc(30px + (60 - 30) * ((100vw - 340px) / (1250-340)));
	padding-bottom: calc(30px + (60 - 30) * ((100vw - 340px) / (1250-340)));
}

.main-top__title{
	margin-bottom: calc(16px + (28 - 16) * ((100vw - 340px) / (1250-340)));
}

.main-top__text{
	margin-bottom: calc(25px + (41 - 25) * ((100vw - 340px) / (1250-340)));
}

.main-top__free{
	margin-bottom: calc(29px + (45 - 29) * ((100vw - 340px) / (1250-340)));
}

.main-top__application{
	padding-right: calc(25px + (30 - 25) * ((100vw - 340px) / (1250-340)));
	padding-left: calc(25px + (30 - 25) * ((100vw - 340px) / (1250-340)));
}

.includes{
	padding-top: calc(29px + (58 - 29) * ((100vw - 340px) / (1250-340)));
	padding-bottom: calc(30px + (60 - 30) * ((100vw - 340px) / (1250-340)));
}

.includes__title, .timetest__title{
	margin-bottom: calc(14px + (32 - 14) * ((100vw - 340px) / (1250-340)));
} 

.includes__item{
	padding: calc(15px + (30 - 15) * ((100vw - 340px) / (1250-340)));
}

.includes__img{
	margin-bottom: calc(15px + (20 - 15) * ((100vw - 340px) / (1250-340)));
} 

.timetest{
	padding-top: calc(30px + (60 - 30) * ((100vw - 340px) / (1250-340)));
	padding-bottom: calc(30px + (60 - 30) * ((100vw - 340px) / (1250-340)));
}

.timetest__item, .includes__item{
	padding-top: calc(20px + (30 - 20) * ((100vw - 340px) / (1250-340)));
	padding-left: calc(15px + (30 - 15) * ((100vw - 340px) / (1250-340)));
}

.solvequestion{
	padding-top: calc(30px + (60 - 30) * ((100vw - 340px) / (1250-340)));
	padding-bottom: calc(3px + (16 - 3) * ((100vw - 340px) / (1250-340)));
}

.solvequestion__maintext{
	margin-bottom: calc(26px + (36 - 26) * ((100vw - 340px) / (1250-340)));
}

.solvequestion__column{
	margin-bottom: calc(26px + (40 - 26) * ((100vw - 340px) / (1250-340)));
}

.solvequestion__img{
	margin-bottom: calc(15px + (17 - 15) * ((100vw - 340px) / (1250-340)));
}

.office{
	padding-bottom: calc(30px + (100 - 30) * ((100vw - 340px) / (1250-340)));
}

.office__title{
	padding-top: calc(29px + (58 - 29) * ((100vw - 340px) / (1250-340)));
	padding-bottom: calc(11px + (28 - 11) * ((100vw - 340px) / (1250-340)));
}

.office__body{
	padding: calc(0px + (30 - 0) * ((100vw - 340px) / (1250-340)));
}

.office__menu{
	margin-bottom: calc(17px + (29 - 17) * ((100vw - 340px) / (1250-340)));
}

.office__contact{
	margin-top: calc(19px + (33 - 19) * ((100vw - 340px) / (1250-340)));
	margin-bottom: calc(30px + (112 - 30) * ((100vw - 340px) / (1250-340)));
	margin-right: calc(0px + (38 - 0) * ((100vw - 340px) / (1250-340)));
	margin-left: calc(0px + (29 - 0) * ((100vw - 340px) / (1250-340)));
}

.office__address{
	padding-bottom: calc(15px + (30 - 15) * ((100vw - 340px) / (1250-340)));
}

.office__button{
	margin-left: calc(0px + (10 - 0) * ((100vw - 340px) / (1250-340)));
}

.office__bottom-img{
	margin-left: calc(0px + (20 - 0) * ((100vw - 340px) / (1250-340)));
}

.footer__top-left{
	padding-top: calc(20px + (37 - 20) * ((100vw - 340px) / (1250-340)));
	padding-bottom: calc(20px + (37 - 20) * ((100vw - 340px) / (1250-340)));
}

.footer__social{
	margin-left: calc(25px + (50 - 25) * ((100vw - 340px) / (1250-340)));
}

.footer__info p{
	margin-bottom: calc(17px + (27 - 17) * ((100vw - 340px) / (1250-340)));
}

	/* шрифты */
.header__office{
	font-size: calc(8px + (6 + 6 * 0.7) * ((100vw - 340px) / 1250));
}

.header__number{
	font-size: calc(12px + (12 + 12 * 0.7) * ((100vw - 340px) / 1250));
}

.menu__link{
	font-size: calc(8px + (8 + 8 * 0.7) * ((100vw - 340px) / 1250));
}

.header__button-add{
	font-size: calc(8px + (8 +8 * 0.7) * ((100vw - 340px) / 1250));
}

.main-top__title{
	font-size: calc(22px + (30 + 30 * 0.7) * ((100vw - 340px) / 1250));
}

.main-top__text{
	font-size: calc(14px + (2 + 2 * 0.7) * ((100vw - 340px) / 1250));
}

.main-top__free{
	font-size: calc(18px + (6 + 6 * 0.7) * ((100vw - 340px) / 1250));
}

.includes__title, .timetest__title, .solvequestion__title, .office__title{
	font-size: calc(22px + (10 + 10 * 0.7) * ((100vw - 340px) / 1250));
}

.includes__subtitle, .solvequestion__subtitle{
	font-size: calc(16px + (1 + 1 * 0.7) * ((100vw - 340px) / 1250));
}

.solvequestion__titletext, .solvequestion__paragraph, .office__name{
	font-size: calc(14px + (2 + 2 * 0.7) * ((100vw - 340px) / 1250));
}

.office__address, .office__schedule{
	font-size: calc(16px + (1 + 1 * 0.7) * ((100vw - 340px) / 1250));
}

.office__address span{
	font-size: calc(14px + (2 + 2 * 0.7) * ((100vw - 340px) / 1250));
}

.office__schedule span{
	font-size: calc(14px + (3 + 3 * 0.7) * ((100vw - 340px) / 1250));
}
}

.header__burger{
	display: none;
}

@media (max-width: 992px){
body.lock{
	overflow: hidden;
}

	/* шапка */
.header__burger{
	display: block;
	position: relative;
	width: 38px;
	height: 38px;
	border-radius: 3px;
	border: 1px solid #d6d6d6;
}

.header__burger span{
	position: absolute;
	background-color: #7d9ac2;
	left: 11px;
	width: 16px;
	height: 2px;
	top: 17px;
}

.header__burger:before,
.header__burger:after{
	content: '';
	position: absolute;
	width: 16px;
	height: 2px;
	left: 11px;
}

.header__burger:before{
	top: 12px;
	background-color: #ea7235;
}

.header__burger:after{
	bottom: 12px;
	background-color: #bb4d34;
}

.header__burger.active:before{
	transform: rotate(45deg);
	top: 17px;
	transition: 0.3s;
}

.header__burger.active:after{
	transform: rotate(-45deg);
	bottom: 17px;
	transition: 0.3s;
}

.header__burger.active span{
	transform: scale(0);
}

.header__menu.active{
	top: 0;
}

.header__maps, .header__contact, .header__add, .header__cabinet{
	display: none;
}

.header__menu{
	position: fixed;
	top: -100%;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	padding: 65px 10px 20px 10px;
	transition: all 0.3s ease;
}

.header__menu ul{
	display: block;
	overflow: auto;
}

.menu__link{
	line-height: 35px;
}

.header .container{
	display: flex;
	justify-content: space-between;
	height: 62px;
}

.header__lk{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.comparison{
	padding-right: 19px;
}

/* подвал */
 .footer__top{
	flex-direction: column;
	justify-content: center;
}

.footer__top-left{
	flex-direction: column;
	justify-content: center;
}

 .footer__logo{
	width: 192px;
	margin-bottom: 20px;
}

.footer__social{
	margin-left: 0px;
}

.footer__top-right{
	flex-direction: column;
	justify-content: center;
	padding: 20px 0px;
	border-top: 1px solid #2a2a2a;
} 

.footer__phone{
	padding-right: 0px;
}

.footer__number{
	align-self: center;
}

.footer__free{
	align-self: center;
	padding-top: 6px;
	padding-bottom: 14px;
}
}

@media (max-width: 767px){
	
/* контент */
.main-top__content{
	justify-content: center;
}

.main-top__right{
	display: none;
}

/* Что входит в тест-драйв */
.includes__block{
	flex-wrap: wrap;
	margin: -15px -15px;
}

.includes__column{
	flex: 0 1 50%;
	padding: 15px 15px;
}

/* За время тестирования */
.timetest__block{
	flex-wrap: wrap;
	margin: -15px -15px;
}

.timetest__column{
	padding: 15px 15px;
	flex: 0 1 50%;
} 

/* Решаем все вопросы в одном месте */
.solvequestion__block{
	margin: 0px -15px;
}

.solvequestion__column{
	padding: 0px 15px;
	flex: 0 1 50%;
}

/* офисы */
.office__body{
	border: none;
	background-color: #f6f6f6;
}

.office__menu{
	overflow-x: auto;
}

.office__name{
	white-space: nowrap;
	padding-right: 20px;
}

.office__block{
	flex-direction: column-reverse;
}

.office__address-flex{
	padding-left: 10px;
}

.office__contact{
	margin: 0px;
	padding: 19px 0px 30px 0px;
}

.office__fhone{
	padding-left: 0px;
}

.office__button{
	width: 100%;
	justify-content: center;
}

.office__img{
	margin-right: 8px;
}

.office__map-img{
	width: 100%;
	height: 280px;
}

.office__main{
	padding-top: 19px;
	padding-bottom: 17px;
}

.office__bottom-button{
	display: none;
}

/* подвал */
.footer__content{
	display: none;
}

.footer__end-block{
	display: none;
}

.footer__block-mobile{
	display: flex;
	flex-direction: column;
}

.footer__bottom-mobile a{
	font-family: OpenSans;
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
	color: #ff8400;
} 

.footer__bottom-mobile ul{
	padding-top: 19px;
}

.footer__info-mobile{
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	color: #959595;
	padding-top: 17px;
} 

.footer__info-mobile p{
	margin-bottom: 17px;
}

.footer__moreon-mobile{
	font-family: OpenSans;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #c6c6c6;
	padding: 18px 0px;
	border-top: 1px solid #2a2a2a;
	text-align: center;
} 
}

@media (max-width: 550px){
	/* Что входит в тест-драйв */
.includes__column{
	flex: 0 1 100%;
}

/* За время тестирования */

.timetest__column{
	flex: 0 1 100%;
} 

/* Решаем все вопросы в одном месте */
.solvequestion__column{
	flex: 0 1 100%;
}
}